<div class="media-body">
  <h2>Welcome, </h2>
  <h1 class="media-heading"><%= @user.email %></h1>
  <h2>this is your personal page!</h2>
  <h5>You joined Blocitoff on <%= @user.created_at %></h5>
</div>
