<h3> To-Do Tasks: </h3>
<div class="media-body">
  <% @items.each do |item| %>
  <h4 class="media-heading">
    <% if current_user == @user %>
    <%= link_to '', [item.user, item], method: :delete, class: 'glyphicon glyphicon-ok' %>
    <% end %>
    <%= item.name %>
  </h4>
  <small><%=distance_of_time_in_words(Time.now, item.created_at.to_date + 7)%> days left to complete this task.</small>
  <h6>Item created: <%=item.created_at%></h6>
  <% end %>
</div>
