<h3> To-Do Tasks: </h3>
<% @items.each do |item| %>
    <div class="media-body">
      <h4 class="media-heading">
      * <%= item.name %>
      <% if current_user == @user %>
        <%= link_to 'Completed', [item.user, item], method: :delete, class: 'glyphicon glyphicon-ok' %>
      <% end %>
      </h4>
      <small><%=distance_of_time_in_words(Time.now, item.created_at.to_date + 7)%> days left to complete this task.</small>
      <h6>Item created: <%=item.created_at%></h6>
    </div>
<% end %>
